header{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 90px;
    background-color: #303132;
    display: flex;
    flex-direction: row;
    z-index: 200;
    box-shadow: 0px 1px 44px #4fa2e973;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

.nav-item{
    font-family: 'Gotham';
    font-size: 1.5em;
    color: white;
    padding: 0px 3em;
    cursor: pointer;
}

.nav-item.active{
    color: #4fa2e9;
}

.img{
    height: 60px;
    padding: 20px;
}