.content.band {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("/assets/fundoSobreNos.webp");
}

.member {
  position: relative;
  margin: 0px;
  width: 25vw;
  height: calc(100vh - 90px);
  flex: 1;
  cursor: pointer;
  overflow: hidden;
}

.member-info{
  text-transform: uppercase;
}

.member > img {
  opacity: 0.5;
  transition: all 0.5s;
}

.person {
  height: var(--height);
  width: 25vw;
  justify-content: center;
}
.member:hover > img {
  opacity: 1;
}

.member:hover > .member-info {
  animation-fill-mode: forwards;
  animation: move 1s;
}

.member-info {
  font-family: "GothamThim";
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  bottom: 30px;
}

.img-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1000px) {
  .content.band {
    display: flex;
    flex-direction: column;
  }
  .member {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .person {
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}
