<div class="content band" id="band">
    <div class="person">
        <div class="member">
            <img class="img-text" src="assets/raphanotraced.png">
            <div class="member-info">
                <div class="member-name">
                    RAPHAEL
                </div>
                <i class="fa fa-2x fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="person">
        <div class="member">
            <img class="img-text" src="assets/davinotracedfinaledition.png">
            <div class="member-info">
                <div class="member-name">
                    DAVI
                </div>
                <i class="fa fa-2x fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="person">
        <div class="member">
            <img class="img-text" src="assets/joaonotracedfinaledition.png">
            <div class="member-info">
                <div class="member-name">
                    JOÃO
                </div>
                <i class="fa fa-2x fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="person">
        <div class="member">
            <img class="img-text" src="assets/crisnotraced2.png">
            <div class="member-info">
                <div class="member-name">
                    CRISTIANO
                </div>
                <i class="fa fa-2x fa-angle-down"></i>
            </div>
        </div>
    </div>
</div>