.content{
  background-image: url("/assets/fundo.jpg");
  padding: 90px 0px;
}

.photos {
  column-count: 4;
  column-gap: 1em;
}

.photo {

  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.photo:hover {
  opacity: 1;
}

img {
  border-radius: 10px;
  width: 100%;
}


@media only screen and (min-width: 1024px) {
  .photos {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .photos {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .photos {
    column-count: 2;
  }
}