.photos {
  background-image: url("/assets/fundo.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  padding: 50px 0px;
  height: calc(100vw -90px);
}

.photo {
  opacity: 0.5;
  width: 20%;
  margin: 0px 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.photo:hover {
  opacity: 1;
}

img {
  border-radius: 10px;
  width: 100%;
}
