.logo-responsive {
  width: 5%;
  opacity: 0.1;
  animation: grow 2s linear;
  animation-fill-mode: forwards;
}

.content.center {
  height: 100vh;
  background-color: #303132;
}

@keyframes grow {
  0% {
    width: 15%;
  }
  25% {
    width: 25%;
    opacity: 0.5;
  }
  50% {
    width: 50%;
    opacity: 0.7;
  }
  75% {
    width: 70%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 60%;
  }
}
